html, body{
  height: 100%;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #edeef0;
}
.navbar{
  margin-bottom: 0px;
}
.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: red;
}

.section-top{
  background-image: url(img/img.jpg);
  background-size: 100%,625px;
  height: 625px;
  weight: 100%;
  margin-bottom: 150px;
}

}
.product-description-tabs{
  padding: 5px;
}
.product-item{
  height: 550px;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px 0 10px 0;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

.add-to-cart-btn{
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  width:  100%;
}
.price-zona{
  position: absolute;
  bottom: 50px;
  margin: 0 auto;
  width:  100%;
}
.discount-container{
  position: absolute;
  top: 40%;
  background: #55e073;
  width: 30%;
  color: white;
  font-weight: 700;
  padding: 3px;
}
.section-delivery{
  height: 300px;
  background-color: green;
  color: white;
  text-align: center;
}
.product-image-item{
  padding: 5px;
  margin-bottom: 10px;
}
.navbar-top{
  min-height: 10px;
  height: 20px;
  background-color: red;
  border :none;
  border-radius: 0;
}
.navbar-main{
  background-image: url(img/navbar.png);
  background-size:100%,100%;
  border:none;
  border-radius:0;
}
.basket-container{
  position: relative;
  width: 400px;
  padding: 15px 10px;
}
.basket-items{
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: #55e093;
  z-index: 10;
  padding: 10px;
}

}
.link-block a
{
padding-right: 50px;
}

.link-block a img
{
position:absolute;
left: 300px;
top: 5px;
weight: 50px;
}
.link-block-face a
{
padding-right: 50px;
}

.link-block-face a img
{
position:absolute;
left: 350px;
top: 4px;
weight: 50px;
}
.link-block-telegram a
{
padding-right: 50px;
}

.link-block-telegram a img
{
position:absolute;
left: 400px;
top: 4px;
weight: 50px;
}
.number{
  position: relative;
  right: -300px;
  top: 7px;
}
.class_p{
  color: white;
  font-style:italic;
}
.email{
  position: relative;
  right: -475px;
  top: -14px;
}
.navbar-section-down{
  margin-top: 50px;
  margin-left: 450px
}
.link-on-top{
  color: white;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 14px;
  font-style: normal;
  font-size: large;
}
a.text {
  text-decoration:none;
  color:white;
  background: none;
}
.text-in-head{
  margin-top: 150px;
  margin-left: 250px
}
.content-in-head{
  font-size: 32px;
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  line-height: 1.4;
  color: white;
}
.content-in-head-span{
  font-weight: 300 !important;
}
.help{
  height: 114px;
  margin-top: 278px;
  background-color: #CD2122;
}
.help-text{
  padding-top: 40px;
  padding-left: 200px;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.4;
  color: white;
}
.help-text-span{
  font-weight: 300 !important;
}
.btn-Help{
  background-color:#746e6e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: -49px;
  position: absolute;
  margin-left: 1000px;
}
