<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Search</title>
</head>
<body>

    {% if form.errors %}
        <p style="color: red;">Пожалуйста, исправьте ошибки.</p>
    {% endif %}

    <form action="" method="post">
        {% for field in form %}
            <p>
                <label>{{ field.label }}</label>

                {{ field }}

                {{ field.errors }}
            </p>
        {% endfor %}
        <input type="submit" value="Отправить">
         {% csrf_token %}
    </form>
</body>
</html>
